@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-pattern";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html {
  scroll-behavior: smooth;
}
