---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Container from "@/layouts/Container.astro";

const indexPageEntry = await getEntry("indexPage", "index");
---

<Layout title={indexPageEntry?.data.title || "Portfolio"}>
  <Container>
    <div class="space-y-6">
      <div class="flex gap-20">
        <div class="space-y-4 self-center">
          <h1 class="text-3xl sm:text-4xl lg:text-5xl">
            {indexPageEntry?.data.title || "Welcome to My Portfolio"}
          </h1>
          {
            indexPageEntry?.data.subtitle && (
              <p class="text-xl">{indexPageEntry.data.subtitle}</p>
            )
          }
        </div>

        <div>
          {
            indexPageEntry?.data.heroImage && (
              <img
                src={indexPageEntry.data.heroImage}
                alt="Hero Image"
                class="mx-auto my-6 rounded-full w-64 h-64 object-cover"
              />
            )
          }
        </div>
      </div>
    </div>
  </Container>
</Layout>
