---
import { BadgeCheck } from "@lucide/astro";
import { filterNonEmptyStrings } from "@/utils/string";

interface Props {
  title: string;
  items?: string[] | null;
}

const { title, items } = Astro.props as Props;

const strengths: string[] = filterNonEmptyStrings(items);

const headingId = "core-strengths-heading";
---

<section aria-labelledby={headingId} class="space-y-8 lg:space-y-16">
  <header class="flex items-baseline justify-center gap-4">
    <h2 id={headingId} class="text-2xl font-semibold m-0!">
      {title}
    </h2>
  </header>

  {
    strengths.length > 0 && (
      <ul
        class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3"
        aria-label="Core strengths list"
      >
        {strengths.map((strength) => (
          <li class="flex items-center gap-3">
            <BadgeCheck class="flex-none size-5" />
            <span class="text-base leading-relaxed text-left">{strength}</span>
          </li>
        ))}
      </ul>
    )
  }
</section>
