---
import { CheckLine } from "@lucide/astro";
import { filterNonEmptyStrings, isNonEmptyString } from "@/utils/string";
import Section from "./Section.astro";

interface Props {
  title: string;
  description: string;
  items?: string[] | null;
}

const { title, description, items } = Astro.props as Props;

const bulletItems: string[] = filterNonEmptyStrings(items);

const headingId = "recent-training-heading";
---

<Section headingId={headingId} title={title} spacingClass="space-y-6 lg:space-y-16">
  {
    isNonEmptyString(description) && (
      <p class="text-lg text-left leading-relaxed">{description}</p>
    )
  }

  {
    bulletItems.length > 0 && (
      <ul class="mt-10 max-w-3xl mx-auto not-prose grid grid-cols-1 sm:grid-cols-2 gap-4">
        {bulletItems.map((item) => (
          <div class="flex items-center gap-2">
            <CheckLine class="size-5 text-secondary" />
            <li class="text-base leading-relaxed">{item}</li>
          </div>
        ))}
      </ul>
    )
  }
</Section>
