---
import { filterNonEmptyStrings, isNonEmptyString } from "@/utils/string";
import Section from "./Section.astro";

interface Props {
  title: string;
  badges?: string[] | null;
  description: string;
}

const { title, badges, description } = Astro.props as Props;

const badgeItems: string[] = filterNonEmptyStrings(badges);

const headingId = "what-i-am-looking-for-heading";
---

<Section headingId={headingId} title={title}>
  <div class="grid gap-8 md:grid-cols-[1fr_1.5fr] md:items-start">
    <div class="flex flex-wrap gap-6">
      {
        badgeItems.map((badge) => (
          <span class="badge badge-soft badge-secondary text-sm">{badge}</span>
        ))
      }
    </div>

    {
      isNonEmptyString(description) && (
        <p class="leading-relaxed text-left m-0!">{description}</p>
      )
    }
  </div>
</Section>
