---
import Navbar from "@/layouts/Navbar.astro";
import Footer from "@/layouts/Footer.astro";
import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || "Astro description"} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline src="/theme-init.js"></script>
  </head>
  <body class="antialiased">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
