---
import { getCollection } from "astro:content";
import Container from "./Container.astro";
import ThemeController from "@/components/ThemeController.astro";

const navbarEntry = await getCollection("navbar");
const data = navbarEntry?.[0]?.data || {};
const profileImage = data.profileImage || null;
const links = data.links || [];
---

<header class="fixed top-0 w-full py-4 z-10">
  <Container>
    <nav
      class="flex items-center justify-between p-2 max-w-2xl mx-auto bg-base-100 drop-shadow-md border border-gray-200 dark:border-gray-700 rounded-full"
    >
      <div class="flex items-center gap-4">
        {
          profileImage ? (
            <a href="/" class="block">
              <img
                src={profileImage}
                alt="Profile"
                class="h-9 w-9 rounded-full object-cover"
              />
            </a>
          ) : (
            <a href="/" class="text-lg font-semibold">
              Home
            </a>
          )
        }
      </div>

      <ul class="flex items-center gap-6">
        {
          links.map((link) => (
            <li>
              <a class="text-sm font-medium hover:underline" href={link.href}>
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>

      <div>
        <ThemeController />
      </div>
    </nav>
  </Container>
</header>
