---
import { getEntry, render } from "astro:content";
import Layout from "./Layout.astro";
import Container from "./Container.astro";

// Supported singleton collections for this page wrapper
// Extend this union if you add more singleton pages.
type SingletonCollectionKey = "indexPage" | "resumePage";

interface Props {
  singletonKey: SingletonCollectionKey;
  fallbackTitle: string;
}

const { singletonKey, fallbackTitle } = Astro.props as Props;

const entry = await getEntry(singletonKey, "index");
const renderedContent = entry ? await render(entry) : null;

const title = entry?.data.title || fallbackTitle;
const description = entry?.data.description as string | undefined;
---

<Layout title={title} description={description}>
  <div class="max-w-full mx-auto prose lg:prose-lg">
    {renderedContent ? <renderedContent.Content /> : null}
  </div>
</Layout>
